*{
  margin: 0;
  padding: 0;
}
body{
  padding: 20px 50px 0 30px ;
  min-height: 100%;
  margin: 0 auto;
  }
.container{
  width: 1100px;
  height: 700px;
 /* margin: 0; 10px; 0; 30px;*/
  padding: 0 30px 0 20px;
  background: #fff;
box-shadow: -webkit-box-shadow: 0px 2px 32px 5px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 2px 32px 5px rgba(0,0,0,0.56);
box-shadow: 0px 2px 32px 5px rgba(0,0,0,0.56);
position: relative;
  }
.headerblock p {
  font-family: "Open Sans"; Arial; sans-Serif;
  font-size: 35px;
  font-weight: bolder;
  padding: 10px 20px 0 20px;
  margin: 20px 0 25px -10px
 }

.headerblock {
height: 80px;
/*padding: 0 0 0 10px; */
}
ul {
    list-style-type: none;
   margin: 20px 0 0 12px;
}

li {
    float: left;
    list-style: none;
    font-family: "Open Sans";
    font-weight: lighter;
    /*font-size: 18px;*/

}

.headerblock a:link, a:visited {
   display:inline-block; 
    width: 250px;
    padding: 6px;
    text-align: center;

  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
 text-decoration: none;
    color: white;
  }
 .headerblock a:hover, a:active{
 background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);

}

.menu{
  width: 30%;
 margin: 20px 0 10px -10px ;
 padding:  0 0 0 10px;
 float: left;
 }

.menu ul {
    list-style-type: none; 

  }
  .menu li{
    border: 1px solid #eee;
    padding: 10px 0 10px 30px ;
    text-align: left;
      }

  .menu a{
      display: inline-block;
    text-decoration: none;
    color: grey;
    width: 250px;

  }
.menu a:hover, a:active {
    padding:0 ;
    margin: 0 ;
    background: grey;
    color:black;
    }
   
    .content {
      width: 65%;
      height: 350px;
      float:right;
       font-family: "Open Sans"; 
    font-size: 10px;
    font-weight: 100px;
    color: grey;
    margin: 40px 0 0 20px;
    }
    
    img{
      height: 350px;
      width: 600px;
      border-image: none;
      border-right: 1px solid #eee;
    }
    .content p {
   float: left;
     width: 600px;
      margin: 5px 0 30px 0;
    } 
.footer{
position: absolute;
bottom: 0;
    width: 100%;
height: 80px;
}

.footer a{
    text-decoration: none;
      background-color: #eee;
      color:black;
      display: block;
      padding: 0 0 0 15px;
}
.footer ul{
    list-style: none;
    margin-left:12px;
    padding: 0;
     line-height: 25px;
    }
  .footer li{
    list-style: none;
    font-family: "Open Sans";
    font-size: 12px;
    height: 30px;
  text-align: center;
    /*float:left;*/
  }
 
  .footer a:link, a:visited {
   display: block;
    width: 205px;
    padding: 4px;
  }

.footer a:hover, a:active{
text-decoration: underline;
  }

.footer a:link, a:visited {
    height: 100%;
    display: block; 
    }
  
   a.disabled {
    pointer-events: none;
    cursor: default;
    }








