*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Open sans";
	text-decoration: none;
}
body{
	height: 1030px;

}
.container {
	margin: 0 auto;
	width: 800px;
	height: 1000px;
	/*border-left: 1px solid black;
	border-right: 1px solid black; */
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: -1px 5px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 16px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 16px 1px rgba(0,0,0,0.75);
}
.header {
	margin: 5px 15px 0 0;

}
.header img{
	width: 400px;
	height: 170px;
	margin: 0 10px -70px 0;
}
.contacts {
	float: right;
	font-size: 10px;
	line-height: 15px;
	padding: 15px;
	color: #128aa7;
}
.flags {
	float:right;
	clear:both;
}
.flags img{
	height: 40px;
	width: 40px;
	margin: 3px;
}
.round {
	border-radius: 100px;
	box-shadow: 0 0 0 1px black;
	margin: 0;
}
.flags a {
	display: inline-block;
	color:#128aa7;;
	font-size: 10px;
	height: 50px;
	width: 60px;
	text-align: center;
}
img {
	height: 230px;
	width: 800px;
}
.top-menu{
	margin: -5px 0 0 0;
}
.mainline {
	width: 100%;
	-webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.75);
}
.top-menu ul {
	display: inline-block;

}
.top-menu ul ul{
	display: none;
}
.top-menu ul li:hover ul {
	display: block;
	padding: 0 ;
	-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.75);
}
.top-menu ul {
	background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);;
	padding: 0 auto;
	margin: 0;
	position: relative;
}
.top-menu ul li {
	float: left;
}
.top-menu ul li a{
	font-size: 12px;
	color: #fff;
	display: block;
	padding: 5px 25px;
	background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);;
}
.top-menu ul ul {
	position: absolute;
	top: 100%;
}
.top-menu ul ul li {
	float:none;
}
.top-menu ul  ul li a {
	padding: 5px 15px;
}
.mainline ul li a:hover {
	background: grey;
}
.sidebar {
    float: left;
    width: 25%;
    padding-bottom: 2000px;
    margin: -5px 0 -2000px 0;
    border-right: 1px solid grey;
    background: #eee;
    margin: -5px 0 0 0;
}
.sidebar ul {
	padding: 5px 0 ;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.sidebar li {
	padding: 5px;
	font-size: 12px;
	text-align: center;
}
.content {
	float: right;
	width: 25%;
	padding-bottom: 2000%;
	margin: -5px 0 -2000px 0; 
	border-left: 1px solid grey;
	background: #eee;

}
.content ul{
	padding: 5px 0 ;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.content li {
	padding: 5px 0;
	font-size: 12px;
	text-align: center;
}
.bottom-line{
	padding: 5px 0 ;
	color:#abcfdf;
	font-size: 11px;
	text-align: center;
}


